@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    transition: background-color .2s ease;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/* Fallback for unsupported line-clamp */
.line-clamp-fallback {
  overflow: hidden;
  max-height: 2rem; /* Adjust this based on the number of lines you want to display */
  position: relative;
}

.line-clamp-fallback::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  height: 1rem; /* This creates a fade effect */
  width: 100%;
}
